
<script type="text/javascript" src="lib/soundmanager2.js"></script>

<div ng-controller="AudioPlayerCtrl" >

	<h1>Audio Player</h1>
	

	<!-- Page player core CSS -->
<link rel="stylesheet" type="text/css" href="css/page-player.css" />
 
<!-- soundManager.useFlashBlock: related CSS -->
<link rel="stylesheet" type="text/css" href="../flashblock/flashblock.css" />

<!-- optional: annotations/sub-tracks/notes, and alternate themes -->
<link rel="stylesheet" type="text/css" href="css/optional-annotations.css" />
<link rel="stylesheet" type="text/css" href="css/optional-themes.css" />

<style type="text/css">
ul.playlist li .comment {font-size:0.65em;opacity:0.5}
</style>

<!-- soundManager API -->
<script src="../../script/soundmanager2.js"></script>

<script>

/* --------

  Config override: This demo uses shiny flash 9 stuff, overwriting Flash 8-based defaults
  Alternate PP_CONFIG object must be defined before soundManager.onready()/onload() fire.
  Alternately, edit the config in page-player.js to simply use the values below by default

-------- */

// demo only, but you can use these settings too..
soundManager.setup({
  flashVersion: 9,
  preferFlash: true, // for visualization effects
  useHighPerformance: true, // keep flash on screen, boost performance
  wmode: 'transparent', // transparent SWF, if possible
  url: '../../swf/'
});

// custom page player configuration

var PP_CONFIG = {
  autoStart: false,      // begin playing first sound when page loads
  playNext: true,        // stop after one sound, or play through list until end
  useThrottling: false,  // try to rate-limit potentially-expensive calls (eg. dragging position around)</span>
  usePeakData: true,     // [Flash 9 only] whether or not to show peak data (left/right channel values) - nor noticable on CPU
  useWaveformData: false,// [Flash 9 only] show raw waveform data - WARNING: LIKELY VERY CPU-HEAVY
  useEQData: false,      // [Flash 9 only] show EQ (frequency spectrum) data
  useFavIcon: false     // try to apply peakData to address bar (Firefox + Opera) - performance note: appears to make Firefox 3 do some temporary, heavy disk access/swapping/garbage collection at first(?) - may be too heavy on CPU
}

</script>

<!-- Page player main script -->
<script src="script/page-player.js"></script>

<!-- optional: Metadata UI prototype (not needed unless you want the bottom-most demo bits) -->
<script src="script/optional-page-player-metadata.js"></script>

 <h2 id="metadata">Experimental (Alpha) Variant: MP3 "Metadata": Annotations / notes / sub-tracks</h2>
 <p>A potential approach to noting interesting moments in sounds, scene changes, new tracks in seamless DJ mixes etc. Keep in mind this is a single MP3 being loaded, but annotations are placed along the timeline as shown.</p>
 <p>A "metadata" element contains a nested list of data (UL/LI combination) - in this case, a summary of each scene - and the time at which this item occurs/begins. In order to help with positioning, the total length of the sound is also specified up-front. View the source code of this page for the details.</p>

 <ul class="playlist">

  <li>
   <a href="http://freshly-ground.com/data/audio/binaural/A%20Virtual%20Haircut%20in%20San%20Francisco%20%283%20Scenes%29.mp3">A Virtual Haircut (3 scenes)</a>
   <div class="metadata">
    <div class="duration">4:43</div> <!-- total track time (for positioning while loading, until determined -->
    <ul>
     <li><p>Electric razor</p><span>0:00</span></li> <!-- first scene -->
     <li><p>Water, scissors</p><span>2:41</span></li> <!-- start time of second scene -->
     <li><p>More razor work</p><span>4:00</span></li>
    </ul>
   </div>
  </li>

  <li>
   <a href="http://freshly-ground.com/data/audio/binaural/Rubber%20Chicken%20Launch%20%28office%29.mp3">Rubber Chicken Launch (Office)</a>
   <div class="metadata">
    <div class="duration">0:47</div>
    <ul>
     <li><p>First attempt</p><span>0:00</span></li>
     <li><p>Fire!</p><span>0:02</span></li>
     <li><p>"Too much angle"</p><span>0:05</span></li>
     <li><p>Random chicken noise</p><span>0:18</span></li>
     <li><p>"Wait a second"</p><span>0:31</span></li>
     <li><p>Derrr..</p><span>0:34</span></li>
     <li><p>Launch attempt #2</p><span>0:36</span></li>
     <li><p>"Wrong angle"</p><span>0:39</span></li>
     <li><p>"Fail"</p><span>0:42</span></li>
    </ul>
   </div>
  </li>

 </ul>
 
</div>